/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* font */
* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

/* header banner */

.banner-tittle {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-des {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-left: 600px;
    margin-top: 50px;
}

.banner-img {
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-top: 60px;
}




/* main style */
main {
    width: 1440px;
    margin: 0 auto;
}

/* team style */
.team-container {
    display: flex;
    gap: 80px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 85px;
}

.team-content {
    align-items: center;
}

.team-tittle {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-top: 280px;
}

.span-1 {
    color: #FF900E;
}

.team-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    width: 537px;
}

/* features love and enjoy section style */

.love-enjoy {
    display: flex;
    gap: 140px;
    margin-top: 130px;
}

.line-flex {
    display: flex;
    gap: 20px;
}


.line {
    width: 5px;
    height: 106px;
    background: #FF900E;
    margin-top: 30px;
}

.content-love-tittle-1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.content-love-des-1 {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    width: 586px;
}

.love-1 {
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 30px;
    margin-top: 15px;
}

.content-love-tittle {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.content-love-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.architect-img {
    width: 708px;
    height: 1150px;
}

.btn-div {
    flex-direction: none;
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
}

/* Some Facts style */

.Some-Facts-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-top: 130px;
    margin-left: 50px;
}

.Some-Facts-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 500px;
}

.icon {
    display: flex;
    margin-top: 70px;
}

.icon-1 {
    margin-left: 125px;
    padding: 150px 80px;
}

.icon-img {
    margin-top: 10px;
}

.icon-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.icon-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* sponsors style */

.sponsors {
    margin-top: 160px;
}

.sponsors-container {
    display: flex;
    gap: 110px;
    margin: 60px 100px;
}

.Sponsors-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.sponsors-p {
    margin-left: 400px;
    width: 550px;
    margin-top: 25px;
}

.Sponsors-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-left: 300px;
}

/* footer style */

.footer{
    height: 100px;
    width: 1440px;
    border-radius: 8px;
    background: #FFF4E7;
    justify-content: center;
    align-items: center;
}

.footer-des {
    margin-left: 500px;
}



/* responsive media queries */
/* mobile device */

@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

    .btn-primary {
        margin-left: 60px;
    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 10px 10px;
    }

    nav {
        flex-direction: column;
    }

    .btn-primary {
        margin-left: 300px;
    }

}

/* mobile device features */
@media screen and (max-width:576px) {
    .team-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* mobile device love and enjoy */
@media screen and (max-width:576px) {
    .love-enjoy {
        flex-direction: column;
    }

    .architect-img {
        width: 600px;
    }
}